@font-face {
    font-family: myFont;
    src: url("LeJourScript.otf");
  }

  .about-header {
    margin-top: 50px;
  }
  
  .about-text p {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    color:#955e5e;
    font-weight: normal;
  }
  
  .about-img {
    float: left;
  }
    
  h3 {
    font-family: serif;
    color: #333333;
    padding-top: 120px;
    font-weight: bold;
  }

  .about-zitate{
    font-family: "Montserrat", sans-serif;
    color: #955e5e;
    font-style: italic;
  }
  
  h4 {
    font-family: "Montserrat", sans-serif;
    color: #333333 !important;
  }
  .about-bg {
    /* background: rgb(255,208,208);
background: linear-gradient(90deg, rgba(255,208,208,1) 0%, rgba(225,172,172,1) 50%, rgba(255,208,208,1) 100%); */
background: #e1acac;
  }

  @media (max-width: 767px) {
  
    .about-header h4 {
      font-size: 18px;
      font-weight: 600;
    }
    .about-header h3 {
      margin-top: 50px;
      font-size: 35px;
    }
  
    .about-img {
      position: relative;
    }
  
    .logo-open {
      display: none;
    }
  
    .about-logo {
      position: absolute;
      left: 50%;
      margin-left: -115px;
      top: -15px;
      width: 250px;
    }
  }

  @media (max-width: 991px) and (min-width: 768px) {
    .about-text {
      margin-top: 40px;
    }
  
    .about-img {
      margin-top: 30px;
    }

    .about-logo {
      position: absolute;
      left: 50%;
      margin-left: -110px;
      top: -15px;
      width: 250px;
      height: 250px;
    }
  }
  
  @media (min-width: 992px) {
    .about-logo {
      display: none;
    }
  }