* {
  margin: 0;
  padding: 0;
}

body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-top: 0px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #A87676;
  /* background: rgb(255,208,208);
background: linear-gradient(90deg, rgba(255,208,208,1) 0%, rgba(225,172,172,1) 50%, rgba(255,208,208,1) 100%); */
background: #e1acac;
}

.mid-heading {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #A87676;
  font-size: 2rem;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section {
  padding: 0;
  position: relative;
}

@media (max-width: 767px) {
  body {
    margin: 0;
    padding: 0;
  }
}
