.tipps-section {
  /* background: rgb(255,208,208);
background: linear-gradient(90deg, rgba(255,208,208,1) 0%, rgba(225,172,172,1) 50%, rgba(255,208,208,1) 100%); */
background: #e1acac;
}

.pfl-heading {
  text-align: center;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 40px;
  color: #A87676;
  font-size: 2rem;
}

li {
  margin: 10px;
  padding-bottom: 30px;
}

li:last-child {
  margin-bottom: 0;
}

.tipps-section ul {
  padding: 0;
  margin: 0;
}

.tipps-section ul {
  list-style-type: none;
  text-align: center;
}

.tipps-section i {
  margin-right: 15px;
  color: red;
}
@media (max-width: 767px) {
  .tipps-section {
    padding-bottom: 0;
  }
}
