@font-face {
    font-family: myFont;
    src: url("LeJourScript.otf");
  }

  .featurette-heading,
  .text-muted,
  .lead {
    font-family: "Montserrat", sans-serif;
  }

  .heading-subtext{
    color:#333333;
    font-family: "Montserrat", sans-serif;
  }
  
  .featurette-heading {
    font-weight:bold;
    color: #333333;
  }

  .featurette-image{
    border-radius: 4%;
  }
  
  .text-muted, .lead {
    font-weight: 400;
  }
    
  .featurette {
    display: flex;
    align-items: center;
  }

  .featurette-divider{
    color:#333333;
  }

  .lash-section{
   /*  background: rgb(255,208,208);
background: linear-gradient(90deg, rgba(255,208,208,1) 0%, rgba(225,172,172,1) 50%, rgba(255,208,208,1) 100%); */
background: #e1acac;
    padding-bottom: 0;
  }

.top-heading {
  text-align: center;
  margin-top: 160px;
  margin-bottom: 40px;
  color: #333333;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.price-table-lash {
  padding-left: 300px;
  padding-right: 300px;
}

.price-section-lash {
  background: #ffd0d0;
  margin-top: 40px;
}

.price-table-lash thead {
  border-bottom: 1px solid white;
  font-weight: 600;
  color: #955e5e;
}

@media (max-width: 767px) {
  .price-table-lash {
    padding-left: 0;
    padding-right: 0;
  }
  .top-heading {
    margin-top: 60px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .price-table-lash {
    padding-left: 100px;
    padding-right: 100px;
  }

  .lash-section{
    padding-bottom: 0;
  }
}
